<!DOCTYPE html SYSTEM "about:legacy-compat">
<html lang="en">
   <head>
      <meta charset="utf-8"/>
      <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
      <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
      <meta content="suDeBu3cQ5JEfYn92UdyZqkDPVCRI3QFK4dbV1tzUNk" name="google-site-verification"/>
      <link href="//webcore.unm.edu/v1/images/unm.ico" rel="shortcut icon"/>
      <link href="//webcore.unm.edu/v2/css/unm-styles.min.css" rel="stylesheet"/>
      <link href="assets/css/site-styles.css" media="screen" rel="stylesheet" type="text/css"/>


   </head>
   <body id="home">
      <div id="page">
         <div id="upper">
           <div class="container">
            <br />
              <br />
                <br />

<br />

<div id="table-background">
<h3><center>Degree Plan of <%= @dept %></center></h3><br />


    <div class="jumbotron">
      <center>
    <table border="0">
      <tbody id="courseTable">
        <tr class="class">
          <th colspan="2">Freshman</th>
          <th colspan="2">Sophomore</th>
          <th colspan="2">Junior</th>
          <th colspan="2" class="last">Senior</th>
        </tr>
        <tr class="semester">
          <th>Fall</th>
          <th>Spring</th>
          <th>Fall</th>
          <th>Spring</th>
          <th>Fall</th>
          <th>Spring</th>
          <th>Fall</th>
          <th class="last">Spring</th>
        </tr>
        <tr>
    <%for i in 0..@b.size-1 %>
        <td id = "term <%= i+1 %>"> 
    <%for j in 0..@b[i].size-1 %>
     <%if @b[i][j][0]!=['Req']%>

      <%prestr=""%>     
        <%@b[i][j][2].each do |pre|%>
      <%prestr << pre.to_s %>
      <%prestr << "~" %>
        <%end %> 

         <%poststr=""%>     
        <%@b[i][j][3].each do |post|%>
      <%poststr << post.to_s %>
      <%poststr<< "~" %>
        <%end %>         
    <div id="<%= @b[i][j][0]%>" pre="<%=prestr%>" post="<%=poststr%>" onclick="location.href='<%= @b[i][j][4] %>';"><%= @b[i][j][0]%>
      <!--<a href="<%= @b[i][j][4] %>"></a>-->
      <br>
      <span class="crs_title"><%= @b[i][j][1]%></span>
    </div>
	<%else%>
    <div><%= @b[i][j][1]%></div>
    <%end %>
    <% end %>
    </td>
    <% end %> 
    </tr>

<%= javascript_tag do %>
function highlightPrereq(element, index, array)
{
	$("[pre~='"+array[index]+"']").css("background-color", "#FFFFC6");
}

function highlightPostreq(element, index, array)
{
	$("[post~='"+array[index]+"']").css("background-color", "#7DDB95");
}

function clearPrereq(element, index, array)
{
	$("[pre~='"+array[index]+"']").css("background-color", "#545454");
}

function clearPostreq(element, index, array)
{
	$("[post~='"+array[index]+"']").css("background-color", "#545454");
}

$("#courseTable div").mouseover(function() {
	var prereq = $(this).attr("pre");
	var postreq = $(this).attr("post");
	var prearr = prereq.split('~');
	var postarr = postreq.split('~');
	alert(prearr);
	prearr.forEach(highlightPrereq);
	postarr.forEach(highlightPostreq);
});

$("#courseTable div").onmouseout(function() {
	var prereq = $(this).attr("pre");
	var postreq = $(this).attr("post");
	var prearr = prereq.split('~');
	var postarr = postreq.split('~');
	prearr.forEach(clearPrereq);
	postarr.forEach(clearPostreq);	
});

<% end %>
	
	
</tbody>
</table>
</center>
</div> 
</div>
</div> 
</div>
 <br />        
<br />
<br />
<br />
        

   </body>
</html>